<% provide(:title, "Home") %>

<div class='main_content'>
      <div class='content'>
        <article class='top_article'>
          <header>
            <h2><a href='#' title='First Post'>First Post</a></h2>
          </header>
          <footer>
            <p>Written by Jose Tello</p>
          </footer>
            <content>
              <p>Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph.</p>
            </content>
        </article>
        
        <article class='middle_article'>
          <header>
            <h2><a href='#' title='Second Post'>Second Post</a></h2>
          </header>
          <footer>
            <p>Written by Jose Tello</p>
          </footer>
            <content>
              <p>Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph.</p>
            </content>
        </article>
        
        <article class='bottom_article'>
          <header>
            <h2><a href='#' title='Third Post'>Third Post</a></h2>
          </header>
          <footer>
            <p>Written by Jose Tello</p>
          </footer>
            <content>
              <p>Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph. Sample paragraph.</p>
            </content>
        </article>
        
        <aside class='sidebar'>
          <div class='top_sidebar'>
            <header>
              <h2>Trending Artists...</h2>
              <p>Charlie Christian, Gordon Webster, Count Basie, Duke Ellington, Ella Fitzgerald...
            </header>
          </div>
        
          <div class='bottom_sidebar'>
            <header>
              <h2>New Album Releases...</h2>
              <p>Naomi Uyama & Her Handsome Devils, The Boilermaker Jazz Band, Tuba Skinny...</p>
            </header>
          </div>
        </aside>
